@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
}
body * {
  font-family: "Poppins";
}

/* header */
header {
  text-align: center;
  background: #e7e7e7;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  max-width: 60px;
  transform: rotate(-10deg);
}
header h1 {
  margin: 0;
  font-size: 2em;
  padding-top: 25px;
  margin-left: 15px;
  color: #777;
  transform: rotate(2deg);
}
.task span {
    font-size: 1.4em;
    margin-left: 6px;
    cursor: pointer;
    color: #bbb;
    transition: 400ms color;
}
.sub-task span {
    font-size: 1.4em;
    margin-left: 6px;
    cursor: pointer;
    color: #bbb;
}
.task span.active {
    color: #ff005d;
} 
.new-task-form {
    background-color: transparent;
    padding: 20px 0px;
}

.filter{
    font-size: 1em;
    /* float: right; */
    border-radius: 6px;
    max-width: 640px;
    margin: 20px auto;
    text-align: right;
}

.filter button.active{
    background: #ffd859;
}
.filter button{    
    font-size: 1em;
    margin-right: 10px;
    border: 0;
    padding: 10px 15px;
    font-family: "Poppins";
    border-radius: 14px;
    cursor: pointer;
    font-size: 1em;
    background: #d8d8d8;
}

.task-list {    
    max-width: 500px;
    margin: 20px auto;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task h3, .task .icons {
    display: inline-block;
}
.task .icons{
    text-align: right;
}
.task .icons span.view:hover{
    color: #42e0a3;
}
.task .icons span.delete:hover{
    color: #2c2c2c;
}
.task .icons span.fav:hover{
    color: #ff005d;
}
.invalid input {
    border-color: #ff005d;
}
.empty{
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
}
.empty-state{
    width: 100%;
    margin: 0 auto;
}
.loading {
    max-width: 640px;
    border: 1px solid #ffd859;
    background: #ffe9a0 ;
    color: #3a3a3a;
    padding: 5px 0;
    text-align: center;
    margin: 30px auto;
}
.loading.error {
    /* position: fixed; */
    bottom:0;left: 0;right: 0;
    color: white;
    border: 1px solid #000000;
    background: #ff005d ;
   
}
.item_wrapper{
    padding: 6px 20px;
}
.task_wrapper {
    padding: 5px 20px 5px;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.05);
    background: #fff;
}
.subtask_form.hide{
    display: none;
}